/* normailizing my css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Shizuru&display=swap');

body{
  font-family: 'Exo 2', sans-serif;
  background-color: darkcyan;
  color: crimson;
  
}

button {
  font-family: 'Exo 2', sans-serif;
}